force-app/main/default/flows/Update_Contact_without_loop_from_Account.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_contact_to_ContactList</name>
        <label>Add contact to ContactList</label>
        <locationX>264</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>contactList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>contactRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_over_Contacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_contact_Information</name>
        <label>Assign contact Information</label>
        <locationX>264</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>contactRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_over_Contacts.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contactRecord.MobilePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Parent.Phone</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_contact_to_ContactList</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Update Contact without loop from Account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Contact with loop from Account</label>
    <loops>
        <name>Iterate_over_Contacts</name>
        <label>Iterate over Contacts</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <collectionReference>Get_Contacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_contact_Information</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_contact_Record</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Contacts</name>
        <label>Get Contacts</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_over_Contacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_contact_Record</name>
        <label>Update contact Record</label>
        <locationX>176</locationX>
        <locationY>839</locationY>
        <inputReference>contactList</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Contacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Phone</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>contactList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>contactRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
